<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
	    <title>RGG machine</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
</head>

<body>
    <h1>From episode <%= kindOfEpisode %> - <%= episodeTitle %> !</h1>

    <h1> running on container <%= dockConId %> </h1>
    <div class="box">
            <img class="movie" id="gif" src="https://frinkiac.com/gif/<%= kindOfEpisode %>/<%= kindOfStartTime %>/<%= KindofEndTime %>.gif?b64lines=">
    </div>
    <div class="box">
    <p><%= firstSubtitle %></p>
    <p><%= secondSubtitle %></p>
    <p><%= thirdSubtitle %></p>
    </div>
</body>
<footer href="https://frinkiac.com/"> powered by frinkiac </footer>
</html>
